<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registro</title>
<!-- Archivos CSS desde un CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Archivo CSS local, si existe en /static/css/login.css -->
<link th:href="@{/css/login.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
<nav th:replace="/fragments/header.html :: header"></nav>
	<div class="login-clean">
		<form th:action="@{/verRegistro/registrarse}" method="POST" th:object="${usuarioVO}">
			<h2 class="sr-only">Registro Form</h2>
			<div class="illustration">
				<i class="icon ion-ios-navigate"></i>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="nombre" placeholder="Nombre" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="apellidos"placeholder="Apellidos" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="calle"placeholder="Calle" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="numero_portal"placeholder="Numero Portal" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="piso"placeholder="Piso" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="Email" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="clave"placeholder="Password" required>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Registrarse</button>
			</div>
            <p style="color:red" th:if="${error}" th:text="${error}"></p>
		</form>
	</div>
	<footer th:replace="/fragments/footer.html :: footer"></footer>
	<!-- Archivos JS desde un CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>